@font-face {
  font-family: DinRegular;
  src: url(fonts/FF_DIN_Regular.otf);
}
@font-face {
  font-family: DinMedium;
  src: url(fonts/FF_DIN_Medium.otf);
}
@font-face {
  font-family: DinBold;
  src: url(fonts/FF_DIN_Bold.otf);
}
@font-face {
  font-family: DinBoldPro;
  src: url(fonts/FF_DIN_Pro_Bold_Italic.otf);
}

.store-container {
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

/* width */
.store-container::-webkit-scrollbar {
    width: 15px;
}

/* Track */
/* .store-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px #2050C4; 
} */

.store-container::-webkit-scrollbar-track {
    background-image: url("../image/white-line.png");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
}

/* Handle */
.store-container::-webkit-scrollbar-thumb {
    background: #fff; 
    width: 17px;
    height: 30px;
    /* border-radius: 15px; */
}

/* Handle on hover */
.store-container::-webkit-scrollbar-thumb:hover {
    background: #fff; 
    width: 17px;
    height: 30px;
    /* border-radius: 15px; */
}

/* custom button */
.btn-outline-warning {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
  min-width: 120px;
}

.btn-outline-warning {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-radius: 5;
}

.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning:focus,
.btn-outline-warning.active {
  background: #EC971F;
  color: #ffffff;
  border-color: #EC971F;
  
}

body{
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#welcome h1, h1.section-title{
    font-family: 'DinRegular', Helvetica, Arial, sans-serif;; 
}
.form-control{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.form-control[readonly]{
  background-color: #fff;
}
.input-group-addon{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.btn{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; 
}
.btn-more-padding{
  padding: 10px 40px;
}
.btn-more-padding-y{
  padding-left: 40px;
  padding-right: 40px;
}

.btn-primary {
  color: #fff;
  background-color: #11365c;
  border-color: #11365c;
}
.btn-primary:hover {
  background-color: #11365c;
  border-color: #11365c;
}
.btn-primary:active:hover{
  background-color: #11365c;
  border-color: #11365c;
}
.btn-primary:focus,
.btn-primary.focus {
  background-color: #11365c;
  border-color: #11365c;
}

.btn-danger {
  color: #fff;
  background-color: #d71f36;
  border-color: #d71f36;
}
.btn-danger:hover {
  color: #fff;
  background-color: #d71f36;
  border-color: #d71f36;
}
.btn-danger:active:hover{
  background-color: #d71f36;
  border-color: #d71f36;
}
.btn-danger:focus,
.btn-danger.focus {
  background-color: #d71f36;
  border-color: #d71f36;
}

.panel-group .panel{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid #F9E3BF;
}
.panel{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.panel-heading{
  padding-top: 14px;
  padding-inline-end: 14px;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  font-size: 18px;
}
.panel-default > .panel-heading{
  background-color: #e4e5e9;
  color: #333;
  border-color: #e4e5e9;
}
.panel-default{
  border-color: #e4e5e9;
}

.panel-danger > .panel-heading{
  background-color: #0A265C;
  color: #fff;
  border-color: #0A265C;
}
.panel-danger{
  border-color: #0A265C;
}

.products-lists .product-container{
  text-align: center;
  padding: 20px;
  border: 1px solid #11365c;
}
.products-lists h3{
  margin-top: 0;
  margin-bottom: 20px;
	font-size: 20px;
}
.products-lists .product-container.product-checked{
  background-color: #11365c;
  color: #fff;
}

.qty-container{
  margin-top: 30px;
  margin-bottom: 30px;
}
.qty-container .title{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.qty-container .buttons-container{
  position: relative;
  border: 1px solid #11365c;
}
.qty-container .buttons-container button{
  border: none;
  color: #fff;
  background-color:#11365c;
  width: 50px;
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  font-size: 18px;
}
.qty-container .buttons-container button.btn-decrease{
  left: 0;
}
.qty-container .buttons-container button.btn-increase{
  right: 0;
}
.qty-container .buttons-container input{
  padding-left: 50px;
  padding-right: 50px;
  border:none;
  z-index: 1;
  text-align: center;
}
.qty-container .buttons-container input.form-control[readonly]{
  background-color: #fff;
}

header{
  /* padding-top: 100px;
  background: #11365c; */
  height: auto !important;
}
.header-bottom{
  background-color: "#fff"
}
.mtop-20{
    margin-top: 20px;
}
input[name="captchacode"]{
    margin-bottom: 10px;
}

footer{
  padding-top:20px;
  padding-bottom: 20px;
  background-color:#e4555b;
  color: #fff;
}

.footer-left{

}
.footer-right{
  text-align: right;
}
  .footer-right ul{
    margin-bottom: 0px;
  }
  .footer-right a{
    color: rgba(255,255,255,0.8);
  }

section.section{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

section.section h2{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.navbar-brand{
  position: absolute;
  top: 0;
  left: 30px;
  padding: 0;
  height: auto;

  -webkit-transition: top 0.3s ease-in-out;
	-o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus{
  background-color: #11365c;
  color: #fff;
}
.navbar-default .navbar-nav > .active > a:hover{
  background-color: #11365c;
  color: #fff;
}
.navbar-nav > li > a{
  line-height: 30px;
  /* text-transform: uppercase; */
  font-size: 13px;
  letter-spacing: 1px;
}
.navbar-nav{
  margin-top: 6px;
}
.btn-customheader{
  margin: 5px 10px 5px 15px;
}
.navbar-default {
  -webkit-transition: top 0.5s ease-in-out;
	-o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;

  border-bottom: 1px solid #cfa736;
  border-top: 1px solid #cfa736;
  border-left: none;
  border-right: none;
  
  background-color: #fff;
  margin-bottom: 0px;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  z-index: 100;
}
.navbar-default .btn-product{
  letter-spacing: 1px;
  margin-right: -15px;
}
.navbar-brand > img {
  height: 50px;

  -webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-collapse{
 
  margin-left: 0px;

  -webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-default.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
  .navbar-default.fixed .navbar-brand{
    top: -1px;
    left: 0;
  }
  .navbar-default.fixed .navbar-collapse{
    margin-left: 40px;
  }
  .navbar-default.fixed .navbar-brand > img {
    height: 50px;
  }
.navbar-default .navbar-right .btn{
  font-family: 'DinBold', sans-serif;
  line-height: 34px;
  height: 48px;
  min-width: 170px;
  font-size: 13px;
  margin-right: 20px;
}
.navbar-default .navbar-right .btn-login{
  background-color: #f4f4f4;
}
.btn {
  border-radius: 8px !important;
}


/* HOME BEGIN */
.home section{
  padding-top: 15px;
  padding-bottom: 15px;
}

.home-anchor{
  position: relative;
  top:-47px;
}
  .home-anchor.top{
    top: 0;
  }

.home section h3{
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 1.2;
}
.home section.opening{
  /*background-image: url("../image/october-fest.jpg");
  background-size: cover;
  background-position: center center;
  height: 626px;*/
  padding: 0;
}
.home section.buy-voucher{
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../image/erdinger.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
}
  .home section.buy-voucher p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 300;
  }
#how-to-participate{
  /* background-color: #11365c; */
  /* padding-top: 100px;
  padding-bottom: 100px; */
  background-image: url("../image/BG_Where_to_Redeem.png");
  background-size: cover;
  background-position: center center;
  /* color: #fff; */
}
.home section.faq{
  background-image: url("../image/faq-new.png");
  background-repeat: no-repeat;
  background-size: cover;
}

  .home section.faq .panel-heading{
    padding: 0;
  }
  .home section.faq .panel-title a{
    font-size: 14px;
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home section.faq .panel-title a:hover{
    text-decoration: none;
    color: #d71f36;
  }
  .home section.faq .panel-title a:focus{
    text-decoration: none;
    color: #d71f36;
  }
  .home section.faq .panel-open a{
    color: #d71f36;
  }
.home section.how-to-participate{
  padding-top: 0;
  padding-bottom: 20px;
}

.home section.reward .btn{
  margin-top: 20px;
}

section.contact .form-control{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  background-color: #f5f5f5;
  font-family: 'DinMedium', sans-serif;
  font-size: 13px;
  height: 50px;
  border-color: transparent;
}
section.contact .input-group-addon{
  border-color: transparent;
}
section.contact .form-control:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border-color: #ccc;
}
section.contact .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #939393;
}
section.contact .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #939393;
}
section.contact .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #939393;
}
section.contact .form-control:-moz-placeholder { /* Firefox 18- */
  color: #939393;
}
section.contact .form-control{
  color: #F58337;
  border-radius: 8px;
  background: #fff;
}
section.contact textarea{
  min-height: 99px;
  max-height: 200px;
  resize: vertical;
}
section.contact .submit-container{
  text-align: center;
  margin-top: 20px;
}
section.contact .submit-container .btn{
  /* text-transform: uppercase; */
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  right: 13px;
  font-size: 15px;
}
#recaptcha{
  margin-top: 15px;
  border-radius: 1rem;
  width: 120px;
  height: 45px;
}
#btn-reload{
    position: absolute;
    right: 17px;
    margin-top: 15px;
    font-size: 15px;
    padding: 12px;
    width: 120px;
    border-radius: 1rem;
    font-weight: bold;
}
#basic-addon1{
  border-radius: 1rem 0px 0px 1rem;
  background-color: #fff;
}
section.contact h3{
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
}
/* HOME END */








.app-modal-window .modal-dialog {
  width: 650px;
}

.submit-checkout-container{
  text-align: right;
}

.required, .error-form{
  color: red;
}

.list-payment-method li{
  margin-bottom: 10px;
}
.list-payment-method li:last-child{
  margin-bottom: 0px;
}
.list-payment-method li a{
  border: 1px solid #dedede;
  display: block;
  color: #333;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
}

.list-payment-method li a:hover,
.list-payment-method li a:focus{
  text-decoration: none;
}

.list-payment-method li.selected a{
  border-color: #333;
  position: relative;
}   
.list-payment-method li.selected a:after {
  content: "\f00c";
  font-family: FontAwesome;
  right: 10px;
  position:absolute;
  top:10px;;
  font-size: 20px
}

.dob-picker select{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dob-picker select option{
  color: #333;
}
.occasion-name{
  font-weight: bolder;  
}
.occasion-description{
  height:70px;
  padding-bottom: 10px;
}
.btn-add-to-cart{
  margin-top: 30px;
}
.select-qty{
  margin-top: 15px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

section.section.section-order-success h2 {
  text-align: left;
  margin-bottom: 20px;
}

.order-success-intro{
  margin-bottom: 30px;
}
.panel-order-success-detail {
  margin-bottom: 30px;
}
.panel-order-success-detail ul li{
  margin-bottom: 10px;
  font-size: 16px;
}
  .panel-order-success-detail ul li strong{
    font-size: 14px;
  }

.panel-order-success-items{
  margin-bottom: 30px;
}
.panel-order-success-items img{
  width: 180px;
  height: auto;
}
.panel-order-success-items table{
  margin-bottom: 0px;
}

  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type='number'] {
  -moz-appearance:textfield;
}

.list-images li a{
  border:1px solid transparent;
  padding: 5px;
  vertical-align: middle;
  display: inline-block;
}
.list-images li.active a{
  border:1px solid #333;
}
.list-images li img{
  max-width: 150px;
}

.section-checkout-review img{
  border: 1px solid #dedede;
  padding: 3px;
  max-width: 130px;
}

.steps ul li{
  display: inline-block;
  width: 16.666%;
  text-align: center;
}

label.mandatory{
  font-size: 12px;
  margin: -25px 0 25px 0;
}
.item-title{
    margin-left: 0;
    position: absolute;
    top: 35%;
    -webkit-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
}
.title{
    font-size: 14px;
    color: #333;
    font-weight: 700;
    padding-top: 10%;
}
.confirm-cart{

}
.confirm-cart .right{
  text-align-last: right;
}
.wrap-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width : 100%;
    height: auto;
}

.product-item{
  position: relative;
}
.product-item .marked{
  background: #35a52b;
  color: #fff;
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.product-item label{
  font-weight: normal;
}
.product-item .detail{
  margin-top: 20px;
}
.product-item .input-group{
  margin-bottom: 20px;
}
.product-item img{
  border: 3px solid #fff;
}
.product-item a{
  text-decoration: none;
}
.product-item.selected img{
  border-color: #d71f36;
}
.product-item.selected .marked{
  display: inline-block;
}

.steps{
  margin-bottom: 50px;
}
.steps .bullet{
  display: block;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
.steps .bullet:before{
  content: "";
  width: 26px;
  height: 26px;
  display: inline-block;
  border:2px solid #d71f36;
  background-color: #fff;
  z-index: 2;
  position: relative;
  
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.steps .bullet:after{
  content: "";
  background-color: #d71f36;
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 13px;
}
.steps .step1 .bullet:after{
  width: 50%;
  left: auto;
  right: 0;
}
.steps .step3 .bullet:after{
  width: 50%;
}
.steps .active .bullet:before{
  background-color: #11365c;
}
.text-white {
  color: #fff;
}
.btn-entersite {
  color: #11365c;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.btn-entersite:hover, .btn-entersite:active {
  color: #11365c;
}
/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #11365c;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button.victoria-four {
	border: 2px solid #f4f4f4;
}
a.animated-button.victoria-four:after {
	background: #f4f4f4;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 620% !important;
}

body.age-blocker{
  /*background-image: url("../image/bg-splash.png");*/
  background-image: url("../image/age-blocker.png");
  /* background-color: #11365c; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  /* max-width: 1024px; */
}
  body.age-blocker h1{
    margin-top: 30px;
    margin-bottom: 50px;
  }
  body.age-blocker .logo{
    text-align: center;
    /* padding-top: 25px; */
  }
  body.age-blocker .logo img{
    /* width: 100px; */
    /* width: 150px; */
    height: auto;
    margin-top: 60px;
    margin-left: 125px;
  }
  .support-age{
    margin-top: -7px;
    margin-bottom: -35px;
  }
  @media screen and (min-width: 1200px){
    .support-age{
      margin-top: -7px;
      margin-bottom: -35px;
      margin-left: 345px;
      width: 500px;
    }
  }
  body.age-blocker .dob-selection-container{
    max-width: 380px;
    margin-left: 450px;
    margin-right: auto;
  }
  body.age-blocker .dob-selection-container ul{
    margin-left: 0;
    margin-right: 0;
  }
  body.age-blocker .dob-selection-container ul li{
    padding-left: 0px;
    padding-right: 0px;
    width: 33.3333%;
  }
  body.age-blocker .dob-selection-container select{
    width: 100px;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    width: 100%;
  }
  body.age-blocker .dob-selection-container .btn{
    margin-top: 25px;
  }
  body.age-blocker .bottom-info{
    margin-top: 100px;
    font-size: 14px;
  }
  body.age-blocker .bottom-info p{
    margin: 0;
  }

.promo-code-container{
  margin-bottom: 40px;
}

/* CONFIRMATION BEGIN */
.table-cart tfoot tr td{
  border: none;
}
.table-cart tfoot tr td.title-total{
  font-size: 14px;
  font-weight: 600;
}
.list-carts{
  border-top: 1px solid #333;
  margin-bottom: 20px;
}
.list-carts li{
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.list-carts li .cart-label{
  padding: 10px;
}
.list-carts li .cart-value{
  background-color: #f9f9f9;
  padding: 10px;
}
/* CONFIRMATION END*/

.ui-datepicker{
  z-index: 2 !important;
}

.navbar-toggle{
  -webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fixed .navbar-toggle{
  margin-top: 8px;
}

.list-button-top{
  margin: 0;
}
.list-button-top li{
  padding:0;
  width: 50%;
}
.list-button-top li a{
  width: 100%;
}

/* RESEND VOUCHER BEGIN */
section.resend-voucher .panel-how-to-redeem h3{
  margin-top: 0px;
  margin-bottom: 20px;
}
section.resend-voucher .panel-how-to-redeem ul li{
  background-repeat: no-repeat;
  padding-left: 70px;
  margin-bottom: 30px;
}
section.resend-voucher .panel-how-to-redeem ul li div{
  font-size: 14px;
}
section.resend-voucher .panel-how-to-redeem ul li:first-child{
  background-image: url("../image/beer.png");
}
section.resend-voucher .panel-how-to-redeem ul li:last-child{
  background-image: url("../image/bartender.png");
  margin-bottom: 0px;
}
section.resend-voucher .form-resend select{
  max-width: 180px;
  margin-right: 10px;
}
section.resend-voucher .form-resend .btn{
  margin-top: 20px;
}
section.resend-voucher .form-resend p{
  
}
/* RESEND VOUCHER END */

ul.list-zone li{
  border-right: 1px solid #dedede;
  padding-left: 10px;
  padding-right: 10px;
}
ul.list-zone li:last-child{
  border: none;
}
ul.list-zone li a{
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
ul.list-zone li a:hover{
  text-decoration: none;
}

.pro-bold {
  font-family: 'DinBoldPro', sans-serif;
}
.total_contri {
  font-size: 80px;
}
.goal-text {
  padding-left: 118px;
  margin-bottom: 40px;
}
.counter-border {
  border: 3px #E98809 solid;
  border-radius: 6px;
  padding: 0px 10px;
}

@media screen and (min-width: 1200px){
  .modal-body {
    max-height: 600px;
  }
  .btn-primary.del-recipient{
    margin-left: 10px;
  }
  .home .owl-carousel .wrap-image{
    height: 685px;
  }

}

@media screen and (max-width: 1199px){
  .total_contri {
    font-size: 60px;
  }
  .goal-text {
    padding-left:118px;
  }
}

@media screen and (min-width: 992px){
  .modal-body {
    max-height: 500px;
  }
}

@media screen and (max-width: 991px){
  .navbar-default .btn-product {
    width: 272px;
  }
  .total_contri {
    font-size: 50px;
  }
  .goal-text {
    padding-left:46px;
  }
}

@media screen and (min-width: 768px){

  .navbar-default .navbar-nav > li > a{
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .modal-body{
    padding:30px;
    max-height: 500px;
    overflow-y: auto;
  }

  .modal-header{
    padding-left: 30px;
    padding-right:30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .table-cart .input-group{
    max-width: 160px;
  }
}

@media screen and (max-width: 768px){

  .new-logo > img {
    width: 25%;
    position: absolute;
  }

  .navbar-default.fixed .navbar-collapse {
    margin-left: 0;
  }

  .home section {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .home section.reward img{
    margin-bottom: 20px;
  }

  .home section.opening{
    /*height: 230px;*/
  }
  

  .product-item img{
    width: 100%;
  }

  .home-anchor{
    position: relative;
    top:-94px;
  }

  .footer-left{
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-right{
    text-align: center;
  }

  header{
    height: auto;
    padding: 0;
  }

  .navbar-brand{
    position: static;
    margin-left: 33%;
  }

  .navbar-default .navbar-collapse{
    margin-left: 0px;
  }

  .navbar-default .btn-product{
    width: 100%;
  }

  .total_contri {
    font-size: 50px;
  }
  .goal-text {
    padding-left:171px;
  }
}

@media screen and (max-width: 480px){
  .total_contri {
    font-size: 22px;
  }
  .goal-text {
    padding-top: 10px;
    padding-left:38px;
  }

  .counter-border {
    border: 3px #E98809 solid;
    border-radius: 6px;
    padding: 10px;
  }
}

.container-fluid {
    /* background-image: url(../image/bg-container-fluid.png); */
    background-color: #f26947;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* text-align: center; */
}
/* menuheader */
/* .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background: #fff !important;
} */
/* ========= */

#home{
  background-image: url(../image/new-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 50px;
}
#home_recipes{
  background-image: url(../image/Hendricks-Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 50px;
}
#reg_header{
  background-image: url(../image/Banner-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 50px;
  margin-top: 58px;
}
.new-logo > img {
  height: auto;
}
.recipes-desktop{
  display: block;
}
.recipes-mobile{
  display: none;
}
.here{
  position: absolute;
  top: 15px;
  left: 40px;
  color:#5f0712;
  font-weight: bold;
  text-align: center;
}
.here_btn{
  background-color: #ff8c55;
  color: #fff;
  position: absolute;
  bottom: 25px;
  left: 60px;
}
@media screen and (max-width: 480px){
  #home{
    background-image: url(../image/Banner-mobile.png);
    padding-bottom: 0px !important;
    margin-top: 50px;
    /* padding-top: 210px; */
  }
  #reg_header{
    background-image: url(../image/Banner-mobile.png);
    padding-bottom: 0px !important;
    margin-top: 50px;
    /* padding-top: 210px; */
  }
  #home_recipes{
    background-image: url(../image/Hendricks-Banner.png);
    padding-bottom: 0px !important;
    margin-top: 0px;
    padding-top: 210px;
  }
  .home-mobile{
    display: none;
  }
  body.age-blocker{
    background-image: url(../image/age-mobile.png);
    padding-bottom: 0px !important;
    margin-top: 0px;
    /* padding-top: 210px; */
  }
  .logo-mobile{
    width: 150px;
  }
  .new-logo > img {
    width: 25%;
    position: absolute;
  }
  .here{
    position: absolute;
    top: 0px;
    color: #5f0712;
    font-weight: bold;
    text-align: left;
  }
  .here_btn{
    background-color: #ff8c55;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 40px;
  }
  .brand-mobile{
    display: none;
  }
  #mbl-sp{
    margin-top: -155px;
    margin-bottom: 168px;
    padding-top: 21px;
    width: 90%;
    margin-left: 20px;
  }
  .terms{
    padding-top: 0px !important;
  }
  .custom-p{
    margin-bottom: 5rem;
  }
}
#prizes{
  background-image: url(../image/BG_Register.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* padding-top: 135px;
  padding-bottom: 160px; */
}
.desktop{
  display: block;
}
.mobile{
  display: none;
}
#recipes{
  background-image: url(../image/recipes.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 147px;
}
#supportourstreet{
  background-image: url(../image/banner-prizer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}
@media screen and (max-width: 480px){
  #supportourstreet{
    background-image: url(../image/banner-prizer-mobile.jpg);
  }
  #spt{
    margin-top: -50px;
    margin-bottom: 260px;
  }
  .mbl-sz{
    font-size: 20px;
    margin-top: 30px;
  }
  .mbl-include{
    padding-top: 0px !important;
  }
  #btn-support{
    margin-top: 40px;
  }
}
body #contact{
  background-image: url(../image/contact-us-new.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'DinMedium', sans-serif;
}

body #reg{
  background-image: url(../image/Group_238.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'DinMedium', sans-serif;
  background-position: center;
}

body #reg_success{
  background-image: url(../image/registration-success.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'DinMedium', sans-serif;
}
/* body{
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
} */
.custom-p{
  margin-bottom: 3rem;
}
.custom-faq{
  padding-bottom: 40px;
  max-width: 100px;
}
.img-custom-faq{
  margin-left: 30px;
}
/* .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
  background: #11365c;
} */
.navbar-nav {
  margin-left: 70px;
}
.navbar-default{
  background-color: transparent;
  border-color: none;
  border: none;
}
label {
  color: #666;
}
.btn-warning{
  font-family: 'DinBold', sans-serif;
  border-radius: .50rem;
  color: #11365c;
  font-weight: bold;
  background-color:  #E98809;
}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
  color: #11365c;
}
.btn-warning:focus, .btn-warning.focus{
  color: #11365c;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  color: #11365c !important;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: #000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #11365c;
  /* background-color: #11365c; */
}
/* .navbar-default .navbar-brand {
  color: #11365c;
  background-color: #11365c;
} */
.navbar-default.fixed .navbar-brand > img {
  margin-left: 40px;
  margin-right: 20px;
  position: absolute;
  margin-top: 4px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
  width: 100%
}

/* ==========faq========== */

.panel-default > .panel-heading {
    background-color: transparent;
    color: #fff;
    border-color: #e4e5e9;
    
}
.panel{
  background-color: transparent !important;
  /* border-bottom: #fff; */
  /* border-bottom: dotted !important; */
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: dotted;
}
.panel-default{
  border-color: #fff
}
.home section.faq .panel-title a:hover{
  color: #E98809;
}
body .panel-body{
  color: #fff;
}
.panel-body.panel-success {
  color: #333333;
}
.home section.faq .panel-title a:focus{
  color: #E98809 !important;
}
.home section.faq .panel-open a {
  color: #E98809 !important;
}

/* ======end faq======== */

section.contact .submit-container .btn{
  border-radius: 1rem;
}

.warning {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-size: 12px;
}
.btn-filter, .outlet-filter {
  border-radius: 8px;
}
@media screen and (max-width: 480px){
  .mbl-phone {
    margin-top: 14px;
  }
}
a:hover, a:focus {
  color: #E98809;
  text-decoration: none;
}

@media screen and (max-width: 768px){
  .container-fluid {
    background-color: #f26947;
    background-image: none;
    height: 100%;
    /* text-align: center; */
  }
  .mbl-phone {
    margin-top: 14px;
  }
  .navbar-nav {
    margin-left: 140px;
  }
  .navbar-default.fixed .navbar-brand > img{
    height: 40px;
    margin-left: -2px;
  }
  .navbar-nav{
    float: left;
    margin: 0;
  }
  /* causing issue..
  .btn{
    padding: 1px;
  } */
  .nav{
    padding-left: 0;
  }
  .navbar-default .btn-product{
    letter-spacing: 0px;
  }
  .navbar-right{
    float: left!important;
  }
  .navbar-default .navbar-right .btn {
    font-family: 'DinBold', sans-serif;
    line-height: 26px;
    height: 38px;
    min-width: 111px;
    font-size: 13px !important;
    margin-right: 7px;
    width: 100px;
    position: absolute;
    right: 0px;
    /* top: 2px; */
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar-default .navbar-nav > li > a{
    padding: 10px;
  }

}

.support {
  padding-bottom:10px;
}

.store-list{
  padding-bottom: 20px; 
  padding-top: 20px
}

.prizes-list{
  padding-bottom: 20px; 
  padding-top: 20px; 
  margin-bottom: 50px;
}

.navbar-brand > img {
  padding-left: 10px;
  padding-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px !important;
}

.custom-p{
  font-size: 15px;
}

.navbar-default .btn-product{
  letter-spacing:0px !important;
}

.show-support-btn{
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 18px !important;
}

.home section.faq .panel-title a{
  font-size: 15px;
}

.faq-body > p {
  font-size: 15px;
}

.msg-textarea{
  min-height: 115px !important;
}

.no-padding-left{
  padding-left: 0px !important;
}

.p-15px{
  font-size: 15px;
}
@media screen and (max-width: 480px){
  .no-padding-left{
    padding-left: 15px !important;
  }
  .contact-us-img{
    margin-top: -30px !important;
    margin-bottom: -40px !important;
  }
  .how-it-work-img{
    margin-top: -30px !important;
    margin-bottom: -40px !important;
  }
  .store-list{
    margin-bottom: 15px !important; 
  }

  .home section.reward .btn {
      margin-top: 0px !important;
      margin-bottom: -25px !important;
  }
  .goal-text{
    margin-bottom: 0px !important;
  }
  #prizes{
    background-image: url(../image/redeem-mobile.png);
    padding-bottom: 0px !important;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
   #contact{
     padding-top: 0px !important;
   }
  .prizes-list{
    margin-bottom: 10px !important;
  }
  .support {
    padding-bottom: 0px;
  }
  .support > img {
    margin-bottom: 20px;
  }
  .recipes-desktop{
    display: none;
  }
  .recipes-mobile{
    display: block;
  }
  .home section.reward img{
    margin-bottom: none !important;
  }
  .custom-p{
    padding-top: 60px !important;
  }
}

