<nav class="navbar navbar-default" ng-controller="HeaderController">
  <div class="container">

    <div class="header-block row">
      <div class="col-xs-6">
        <a class="navbar-brand" href="#/">Self Serve</a>
      </div>
      <div class="col-xs-6">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <!--<span>(10)</span>--></a></li>
            <li uib-dropdown on-toggle="toggled(open)">
              <a href id="simple-dropdown" uib-dropdown-toggle>
                <i class="fa fa-user" aria-hidden="true"></i>        
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li><a href="#/insights">Insights</a></li>
                <li><a href="#/voucher">Vouchers</a></li>
                <li><a href="#/help">Help</a></li>
                <li><a href="#/my-profile">My Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="" ng-click="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
    
  </div><!-- /.container-fluid -->
</nav>