body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

header{
  /* background-color: #0A265C; */
  /* border-bottom: 1px solid #d1a832; */
  position: relative;
  /* padding-top: 12px;
  padding-bottom: 12px; */
  line-height: 1.2;
  text-align: center;
  font-size: 12px;
}
  header .logo{
    z-index: 1;
  }
    header .logo img{
      width: 60px;
      height: auto;
    }
  
h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.page-title{
  font-weight: 600;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-title span{
  color: #d62339;
  font-size: 40px;
}

.mt-0{
  margin-top: 0;
}

.mb-0{
  margin-bottom: 0;
}

.form-control{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  -webkit-box-shadow:none;
  box-shadow:none
}
.form-control:focus{
  -webkit-box-shadow:none;
  box-shadow:none;
}
.form-control[readonly]{
  background-color: #fff;
}
.input-group-addon{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.btn{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary {
  color: #002d71;
  background-color: #cb1d3f;
  border-color: #cb1d3f;
}
.btn-primary:hover {
  background-color: #cb1d3f;
  border-color: #cb1d3f;
}
.btn-primary:active:hover{
  background-color: #cb1d3f;
  border-color: #cb1d3f;
}
.btn-primary:focus,
.btn-primary.focus {
  background-color: #cb1d3f;
  border-color: #cb1d3f;
}

.btn-default {
  color: #ffffff;
  background-color: #11365c;
  border-color: #11365c;
}
.btn-default:hover {
  background-color: #11365c;
  border-color: #11365c;
  color: #fff;
}
.btn-default:active:hover{
  background-color: #11365c;
  border-color: #11365c;
}
.btn-default:focus,
.btn-default.focus {
  background-color: #11365c;
  border-color: #11365c;
}

.btn.btn-default[disabled]{
  background-color: #e5e5e5;
  border-color: #f3f3f3;
  color: #656565;
}

.btn-warning{
  font-family: 'DinBold', sans-serif;
  border-radius: .50rem;
  color:  #002d71;
  font-weight: bold;
  background-color:  #E98809;
}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
  color: #11365c;
}
.btn-warning:focus, .btn-warning.focus{
  color: #11365c;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  color: #fff !important;
}

/*.btn-lg, .btn-group-lg > .btn {
  padding-top: 13px;
  padding-bottom: 13px;
}*/

.container-widget{
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.main-container{
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-outlet-container {
  padding-top: 20px;
}
body.home{
  background-color: #f5f5f5;
}
.home-container, .welcome-container{
  padding-top: 0;
}
.home-container .text-logout{
  margin-top: 20px;
}
.home-container .home-top{
  background-image: url('../image/bg-home.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: #fff;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 60px;
  padding-bottom: 65px;
  padding-top: 30px;
  text-align: center;
}
.home-container .home-top .counter{
  display: inline-block;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100px;
  background-color: #fff;
  font-size: 40px;
  color: #cc1d3f;
  border: 2px solid #d1a832;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.home-container .home-top .menu{
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: -64px;
  left: 0px;
  width: 100%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.home-container .home-top .menu ul{
  margin: 0;
}
.home-container .home-top .menu ul li{
  width: 25%;
  text-align: center;
}
.home-container .home-top .menu ul li a{
  background-position: top center;
  background-repeat: no-repeat;
  display: block;
  padding-top: 37px;
  color: #333;
  background-size: auto 38px;
}
.home-container .home-top .menu ul li a:hover{
  text-decoration: none;
}
.home-container .home-top .menu ul li.outlet a{
  background-image: url('../image/icon-outlets.png');
}
.home-container .home-top .menu ul li.term a{
  background-image: url('../image/icon-t&c.png');
}
.home-container .home-top .menu ul li.faq a{
  background-image: url('../image/icon-faq.png');
}
.home-container .home-top .menu ul li.account a{
  background-image: url('../image/icon-account.png');
}
.home-container .home-share h3{
  margin-top: 0px;
  margin-bottom: 15px;
}
.home-container .home-share p{
  margin-bottom: 20px;
}
.home-container .home-share ul{
  margin-bottom: 0px;
}
.home-container .home-share li{
  width: 24%;
  text-align: center;
}
.home-container .home-share li a{
  color: #fff;
  font-size: 22px;
  text-align: center;
  display:inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.home-container .home-share li a:hover{
  text-decoration: none;
}
.home-container .home-share li.whatsapp a{
  background-color: #61be4f;
}
.home-container .home-share li.facebook a{
  background-color: #3b5999;
}
.home-container .home-share li.at a{
  background-color: #4875b4;
}
.home-container .home-share li.twitter a{
  background-color: #55acef;
}
.home-container .home-share li.gplus a{
  background-color: #d34836;
}
.home-container .newsletter .home-subscribe .alert{
  margin-top: 15px;
}
.home-container .newsletter{
  margin-top:26px;
}
.home-container .newsletter .btn-newsletter{
  position: absolute;
  top: -10px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #d1a832;
  color: #fff;
  font-style: italic;
  text-transform: none;
  font-size: 14px;
}
.home-container .newsletter-opening{
  position: relative
}
.home-container .newsletter-opening .btn{
  right: -10px;
}
.home-container .newsletter-form{
  position: relative
}
.home-container .newsletter-form .btn{
  left: -10px;
}

.login-container{
  background-image: url('../image/bg-erdinger.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: #fff;
  padding-top: 270px;
  text-align: center;
}
  .login-container h2{
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 18px;
  }
  .login-container .subtitle{
    margin-bottom: 15px;
  }
  .login-container .btn{
    margin-top: 30px;
  }
  .login-container .forgot-password{
    margin-top: 15px;
  }
  .login-container .forgot-password a{
    color: #cb1d3f;
  }

/* PRIZE BEGIN */
.prize-container .text-scroll{
  margin-bottom: 20px;
}
.prize-container .text-scroll a{
  text-decoration: underline;
  color: #333;
}
.prize-container #prizes{
  position: relative;
  top: 30px;
}
.prize-container .list-prizes li{
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 20px;
  padding-top: 20px;
}
.prize-container .list-prizes li:first-child{
  border-top: 2px solid #e1e1e1;
}
.prize-container .list-prizes li .title1,
.prize-container .list-prizes li .title2{
  display: block;
  margin-bottom: 4px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  font-size: 15px;
}
.prize-container .list-prizes li .title2{
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 6px;
}
.prize-container .list-prizes li .btn-buy-more{
  margin-top: 10px;
}
.prize-container .list-histories li{
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 20px;
  padding-top: 20px;
}
.prize-container .list-histories li:first-child{
  border-top: 2px solid #e1e1e1;
}
.prize-container .list-histories li .title,
.prize-container .list-histories li .code{
  display: block;
  margin-bottom: 4px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}
.prize-container .list-histories li .title{
  font-size: 14px;
}
.prize-container .list-histories li .code{
  font-weight: 600;
  font-size: 17px;
  margin-top: 6px;
}
.prize-container .list-histories li .btn-use-now{
  margin-top: 18px;
}
.prize-container .list-histories li.has-redeemed .title,
.prize-container .list-histories li.has-redeemed .code{
  color: #c5c5c5;
}
.prize-container .list-histories li.has-redeemed .redeemed{
  text-align: center;
  font-size: 16px;
  color: #333;
  display: block;
}
.prize-container .prize-success-issued .image-container{
  margin-left: auto;
  margin-right: auto;
  margin: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.prize-container .prize-success-issued .image-container img{
  margin: auto;
}
.prize-container .prize-success-issued.product-shipping .btn{
  margin-top: 20px;
}
.prize-container .list-prizes img{
  max-height: 120px;
  margin: auto;
  width: auto;
}
.prize-container .note-free{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.prize-container .history-title{
  margin-top: 40px;
}
.prize-container .history-title.prize-empty{
  margin-bottom: 15px;
}
.prize-container .btn-select-prize-now{
  margin-top: 15px;
}
/* PRIZE END */

/* REDEEM BEGIN */
.redeem-container .qty-counter{
  margin-bottom: 24px;
}
.redeem-container p{
  margin-bottom: 16px;
}
.redeem-container hr{
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #ccc;
}
.redeem-container .qty-counter .btn{
  background-color: #EF8A1E;
  color: #fff;
  width: 44px;

}
.redeem-container .qty-counter .form-control{
  border: 2px solid  #EF8A1E;
  background-color: #fff;
  text-align: center;
}
.redeem-container .list-input-pin-container{
  margin-bottom: 40px;
}
/* REDEEM END*/

.list-input-pin{
  margin-left: -2px;
  margin-right: -2px;
}
.list-input-pin li{
  width: 17%;
  padding-left: 2px;
  padding-right: 2px;
}
.list-input-pin li input{
  color: #333;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  border: 2px solid #959595;
}

.icon-success{
  width: 160px;
  height: 160px;
  display: inline-block;
  background-image: url('../image/icon-success.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.list-buttons li{
  margin-top: 8px;
  margin-bottom: 8px;
}

.ui-datepicker{
  z-index: 2 !important;
}

.ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon{
  background-image: url('../image/ui-icons_222222_256x240.png') !important;
}

.account-container .btn-delete-container{
  margin-top: 20px;
}

ul.list-zone li{
  border-right: 1px solid #dedede;
  padding-left: 10px;
  padding-right: 10px;
}
ul.list-zone li:last-child{
  border: none;
}
ul.list-zone li a{
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
ul.list-zone li a:hover{
  text-decoration: none;
}

footer {
  background-color: lightgray;
  padding: 10px 0;
}

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 992px){
 
}

@media screen and (max-width: 991px){
 
}

@media screen and (min-width: 768px){
 
}

@media screen and (max-width: 767px){

}
